.custom-dropdown {
  position: relative;
  width: 100%;
  margin-top: 4px;

  .dropdown-header {
    background-color: #f9fafb;
    border: 1px solid #d1d5db;
    padding: 7px 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
    color: #1f2937;
    transition: border-color 0.2s;

    &:hover {
      border-color: #E30513;
    }

    &.error {
      border-color: red;
    }
  }

  .arrow {
    margin-left: auto;
  }

  .dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #ffffff;
    border: 1px solid #d1d5db;
    border-top: none;
    z-index: 10;
    max-height: 200px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }

  .dropdown-option {
    padding: 7px 5px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;

    &:hover {
      background-color: #E30513;
      color: white;
    }
  }

  .select-error {
    color: red;
    font-size: 0.875rem;
    margin-top: 5px;
  }

  .open {
    border-color: #E30513;
  }
}
